'''This is an example configuration file for the znc_webadmin server.
Please edit this file to your personal preferences and save it as
"local.py" in this directory before you do anything else.'''




# Administrator's username to log into the server
ADMIN_USERNAME = "username"

# Administrator's password to log into the server
ADMIN_PASSWORD = "password"

# URI (IP address) of the server you are running this out of
URI = "https://192.168.111.111"

# All characters allowed in a username on this service
USERNAME_CHARACTERS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890-_"

# All characters allowed in a password on this service
PASSWORD_CHARACTERS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890"



################################################################################################

# Only edit these variables if you need to run on ports other than the default ones

# Port of the znc_webadmin
ZNC_WEBADMIN_PORT = "3000"

# Port of the kiwiirc client
KIWI_CLIENT_PORT = "7778"

# Port to send registered users to
REGISTER_PORT = "4001"