Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Twisted==14.0.0
Werkzeug==0.9.6
itsdangerous==0.24
mechanize==0.2.5
pyOpenSSL==0.13
requests==2.2.1
six==1.5.2
supervisor==3.0
txsockjs==1.2.1
uWSGI==2.0.6
wsgiref==0.1.2
Mako==1.0.0
