########################################################
#            ZNC ADMINISTRATION SETTINGS               #
########################################################


########################################################
# ZNC CONFIGURATION OPTIONS                            #
#                                                      #
# The options in this section can be modified to point #
# to your own ZNC server.                              #
#                                                      #
# You can also change the default channel on which the #
# ZNC_admin will perform the `adduser` actions.        #
#                                                      #
########################################################

[ZNC CONFIGURATION OPTIONS]


## Server settings - Where the ZNC Webadmin Console is served
ZNC_IP_ADDRESS = 000.000.000.000
ZNC_PORT_NUMBER = 5001


## Admin settings:
ZNC_USERNAME = ZNC-RegBot
ZNC_PASSWORD = password


## The user that will be cloned to create new users
USER_TO_CLONE = USERTOCLONE


########################################################
# WEB REGISTRATION CONSOLE OPTIONS                     #
#                                                      #
# If an IRC client is being served on the same server  #
# along with ZNC or on a dedicated server somewhere,   #
# the IP and Port can be defined below, and change
#                                                      #
########################################################

[WEB REGISTRATION CONSOLE OPTIONS]


## Username and Password validation - Allowed characters for each field
USERNAME_CHARACTERS = ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890-_
PASSWORD_CHARACTERS = ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890


## Port number and IP address for SockJS Connection:
## Note - This IP address will also be the IP that the flask app is served on
REGISTRATION_IP_ADDRESS = 000.000.000.000
REGISTRATION_PORT_NUMBER = 4000


## This is the email that will be provided for users if they attempt
## to message the registration bot:
CONTACT_EMAIL = foo@bar.com


########################################################
# OPTIONS FOR USING ZNC WITH AN IRC CLIENT             #
#                                                      #
# If an IRC client is being served on the same server  #
# along with ZNC or on a dedicated server somewhere,   #
# enable it below, and then the IP and Port can be     #
# subsequently defined.                                #
#                                                      #
########################################################

[IRC CLIENT OPTIONS]


## To use your own IRC client, enable this option.  If it's disabled, it will
## point to https://kiwiirc.com
CUSTOM_IRC_CLIENT_ENABLED = True


CLIENT_IP_ADDRESS = 000.000.000.000
CLIENT_PORT = 7778