<!DOCTYPE html>
<html>
    <head><title>COS IRC Home</title></head>

    <body>
        <a href="/"><img src="http://centerforopenscience.org/static/img/icons/cos_wide.png" height="60"></a>
        <h1>IRC Home</h1>
        <h2>Links:</h2>

        <div style="margin-bottom:18px;"><a href="/register/">Registration</a></div>
        <div style="margin-bottom:18px;"><a href="http://107.170.134.161:7778/">KiwiIRC Client</a></div>
        <div><a href="https://107.170.134.161:5001/">ZNC Settings</a></div>
</body>
</html>