<!--
    ZNC WEB REGISTRATION APPLICATION
    ---------------------------------

    This file houses the index page for the application.  It provides a single
    point where users can register for the first time, access an IRC client,
    and change their own ZNC settings via the web interface provided by ZNC.

-->


<!DOCTYPE html>
<html>
    <head>

        <title>COS IRC Home</title>

        <link rel="stylesheet" type="text/css" href="/static/styles.css">

    </head>

    <body>

        <a href="/"><img src="/static/cos_logo.png" height="60"></a>
        <h1>IRC Home</h1>
        <h2>Links:</h2>

        <div class="homeLink"><a href="/Register/">Registration</a></div>
        <div class="homeLink"><a href="/IRC_client/">KiwiIRC Client</a></div>
        <div class="homeLink"><a href="/ZNC_web_admin/" >ZNC Settings</a></div>

        <div class="bottomNotes">
            <p class="singleNote">Remember to bookmark this page so that you can access it later!</p>
        </div>

    </body>
</html>
