<!DOCTYPE html>
<html>
    <head>

        <title>COS IRC Registration</title>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/styles.css">

    </head>

<body>
    <a href="/"><img src="/static/cos_logo.png" height="60"></a>
    <h1>IRC Registration</h1>

    <form>
        <div id="status" class="errorsList"></div>

        <div>Username/Nick:* <input class="field" type="text" name="username" id="username" value=""></div>
        <div class="inputReqs">(only letters, numbers, dashes and underscores; between 6 and 16 characters)</div>

        <div>Password:** <input class="field" type="password" name="pwd1" id="pwd1" value=""></div>
        <div class="inputReqs">(only letters and numbers; greater than 6 characters)</div>

        <div>Verify Password: <input class="field" type="password" name="pwd2"  id="pwd2" value=""></div>

        <div><input class="submitButton" type="submit" name="submit" value="Submit" id="submit"></div>
    </form>

    <div class="bottomNotes">
        <p class="singleNote">* use a name that will be recognizable to others</p>
        <p class="singleNote">** passwords may not be entirely secure</p>
    </div>

        <script src="/static/register.js"></script>

</body>
</html>
